.Password {
  &-First {
    font-size: 25px;
  }
  &-Confirm {
    font-size: 25px;
  }
  &-Icon {
    justify-content: center;
    height: 10px;
    width: 10px;
    background-color: green;
    &-False {
      background-color: red;
    }
  }
  &-Incorrect {
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 45% 0, 50% 15%, 55% 0, 100% 0, 100% 100%, 0 100%);
    background: rgba(255, 70, 70, 0.2);
    border: 1px solid rgba(255, 70, 70, 0.2);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 70, 70);
  }
}
